<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询接口注入演示</title>
    <link rel="stylesheet" href="/dist/second/src/scss/index.css">
</head>
<body>
<div class="body_cr">
    <div class="container">
        <div class="title">
            <%= title %>
        </div>
        <hr class="seg">
        <div class="article_date">
            2016-12-05
        </div>
        <div class="quote_cr">
            <div class="quote">
                <p>作者：卞留念</p>
                <p>课程：计算机病毒入侵与检测</p>
            </div>
        </div>
        <div class="content">
            <%= content %>
        </div>
    </div>
</div>
</body>
</html>